body{
	background-color: #00ffff
}
main{
	

}

form{
	margin: 40px 0;
}
form label{
	display: block;
	margin-left: 600px;
}
form input{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 400px;
	margin-left: 600px;
}
.enviar{
 display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 450px;
	margin-left: 600px;
}
}

